@use "../../../styles/variables" as *;

.projects {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 4rem;
  }
  ul {
    margin: 0.8rem;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      font-size: 0.8rem;
      margin-right: 50px;
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      &.active {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  .project-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .project {
      width: 15rem;
      height: 10rem;
      border-radius: 20px;
      border: 1px solid lightgrey;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      h3 {
        position: absolute;
        font-size: 0.8rem;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      &:hover {
        background-color: $primary-color;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
