@use "../../../styles/variables" as *;

.projectList {
  font-size: 0.8rem;
  margin-right: 50px;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  &.active {
    background-color: $primary-color;
    color: white;
  }
}
