@use "../../../styles/variables" as *;
.intro {
  background-color: $secondary-color;
  display: flex;
  .left {
    flex: 0.5;
    overflow: hidden;
    .image-circle {
      width: 700px;

      height: 700px;
      border-radius: 50%;
      display: grid;
      float: right;
      grid-area: repeat(3 1fr);
      grid-template-areas:
        "one two three"
        "four five six"
        "seven eight eight";
      &--2 {
        background-color: $secondary-circle-color;
        border-radius: 50%;
        height: 70%;
        width: 70%;
        align-self: flex-end;
        justify-self: flex-end;
        grid-area: one;
      }
      &--3 {
        grid-area: two;
      }
      &--4 {
        grid-area: three;
      }
      &--5 {
        grid-area: four;
      }
      &--6 {
        grid-area: five;
      }
      &--7 {
        background-color: $secondary-circle-color;
        border-radius: 50%;
        height: 40%;
        width: 40%;
        grid-area: six;
      }
      &--8 {
        grid-area: seven;
        background-color: $secondary-circle-color;
        border-radius: 50%;
        height: 45%;
        width: 45%;
        justify-self: flex-end;
      }
      &--9 {
        grid-area: eight;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .introHeading {
      width: 100%;
      height: 50%;
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--greeting {
        font-size: 2.5rem;
      }
      &--name {
        font-size: 4rem;
        margin: 1rem 0;
      }
      &--role {
        font-size: 2rem;
        span {
          font-size: inherit;
          color: #d90429;
        }
      }
    }
  }
}
