// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

$primary-font: "Poppins", sans-serif;
$primary-color: #081c15;
$secondary-color: #d8f3dc;
$main-circle-color: #40916c;
$secondary-circle-color: #74c69d;

// #15023a;

@mixin mobile {
  @media (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}
@mixin mobileMin {
  @media (min-width: #{$tablet-breakpoint}) {
    @content;
  }
}
